



* {
	font-family: "courier new" monospace ;
	font-size: 20px;
}

#p-2 {
	color: yellow;
}

img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

#p-3 {
	text-transform: uppercase;
}


.li-1 {
	background-color: yellowgreen;
}


.li-2 {
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}

img + ul {
	letter-spacing: 7px;
	list-style-type: none;
}
body { 
	font-size: 100px;
}

h1 {
	font-size: 30px;
}

ul + p {
	text-align: center;
}